// I know this is a bit over kill for this exercise but I wanted to display my understanding of SCSS variables.

$brand-primary: #3686D2;
$brand-secondary: #B6E1F5;
$font-color: #fff;
$font-family: avenir;

.content {
  color: $font-color;
  font-family:$font-family;
  max-width: 1000px;
  position: relative;
  float: left;
  margin-left: -100px;

}

.wrapper {
  background: rgba(25, 52, 93, 0.9);
  height:auto;

  img {
  width:60%;

  }
}


.clear-fix {
  clear:both;
}
.grid {
  display: box;
  width:500px;
  height:100%;
  box-orient: vertical;
  float:right;
}
.row {
  padding: 20px;
  box-flex:1;

}

fieldset {
  border: none;
}

h1 {
  color: $font-color;

}

h3 {
  font-size: 30px;
}

header {
  h1 {
    text-align: center;
  }
}

label {

  font-size: 18px;
}

input[type="submit"] {
    background: $brand-primary;
    border: 1px $brand-primary solid;
    color: #fff;
    font-weight: 600;
    width: 100%;
    line-height: 1.556;
    padding: 7px 0;

}

footer {
  text-align: center;
  width: 100%;
}

